@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* base colours **/
  --highlight-light: #efefef;
  /* custom colours */
  --re__green: #43aa4f;
  --dm__blue: #07a9f4;
  --its__pink: #e82c8b;
  --s__beige: #b6a16a;
  --tc__yellow: #fdef2c;
  --f__pink: #af4398;
  --ec__blue: #6087c0;
  --iam__blue: #0199ae;
  --tc__red: #ef3646;
  --ie__grey: #8f9d9d;
  --cs__orange: #f48e22;
  --oad__blue: #81d0ba;
  --dark__bg: #30292f;
  --dark__bg__highlight: #201d20;
  /* typography */
  --ff: Poppins, sans-serif;
  --fw__light: 200;
  --fw__medium: 400;
  --fw__bold: 700;
}

body {
  background-color: var(--dark__bg);
  color: var(--highlight-light);
  font-family: var(--ff);
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 1rem;
}

/* Nav */
nav {
  height: 100%;
  left: 0;
  padding-left: 1rem;
  position: fixed;
  top: 0;
  width: 300px;
}
nav header {
  font-size: 1.4rem;
  padding-bottom: 1.6rem;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  border-bottom: 1px solid var(--dark__bg__highlight);
  color: var(--highlight-light);
  display: block;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  padding: 0.6rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  transition: all 1s;
}
nav ul li a:hover {
  color: var(--dark__bg__highlight);
  padding-left: 2rem;
}
nav ul li a#re__link:hover {
  background-color: var(--re__green);
}
nav ul li a#dm__link:hover {
  background-color: var(--dm__blue);
}
nav ul li a#its_link:hover {
  background-color: var(--its__pink);
}
nav ul li a#s__link:hover {
  background-color: var(--s__beige);
}
nav ul li a#txc__link:hover {
  background-color: var(--tc__yellow);
}
nav ul li a#f__link:hover {
  background-color: var(--f__pink);
}
nav ul li a#ec__link:hover {
  background-color: var(--ec__blue);
}
nav ul li a#iam__link:hover {
  background-color: var(--iam__blue);
}
nav ul li a#tbc__link:hover {
  background-color: var(--tc__red);
}
nav ul li a#ie__link:hover {
  background-color: var(--ie__grey);
}
nav ul li a#cs__link:hover {
  background-color: var(--cs__orange);
}
nav ul li a#oad__link:hover {
  background-color: var(--oad__blue);
}

/* Main */
section {
  padding-bottom: 4rem;
}
section li {
  list-style-type: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 300px;
  padding: 4rem;
  position: absolute;
}

#root_element header {
  border-bottom: 2px solid var(--re__green);
}

#document_metadata header {
  border-bottom: 2px solid var(--dm__blue);
}

#inline_text_semantics header {
  border-bottom: 2px solid var(--its__pink);
}

#scripting header {
  border-bottom: 2px solid var(--s__beige);
}

#text_content header {
  border-bottom: 2px solid var(--tc__yellow);
}

#forms header {
  border-bottom: 2px solid var(--f__pink);
}

#embedded_content header {
  border-bottom: 2px solid var(--ec__blue);
}

#image_and_multimedia header {
  border-bottom: 2px solid var(--iam__blue);
}

#table_content header {
  border-bottom: 2px solid var(--tc__red);
}

#interactive_elements header {
  border-bottom: 2px solid var(--ie__grey);
}

#content_sectioning header {
  border-bottom: 2px solid var(--cs__orange);
}

#obsolete_and_deprecated header {
  border-bottom: 2px solid var(--oad__blue);
}

/*# sourceMappingURL=index.css.map */