@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* base colours **/
  --highlight-light: #efefef;
  /* custom colours */
  --re__green: #43aa4f;
  --dm__blue: #07a9f4;
  --its__pink: #e82c8b;
  --s__beige: #b6a16a;
  --tc__yellow: #fdef2c;
  --f__pink: #af4398;
  --ec__blue: #6087c0;
  --iam__blue: #0199ae;
  --tc__red: #ef3646;
  --ie__grey: #8f9d9d;
  --cs__orange: #f48e22;
  --oad__blue: #81d0ba;
  --dark__bg: #30292f;
  --dark__bg__highlight: #201d20;
  /* typography */
  --ff: Poppins, sans-serif;
  --fw__light: 200;
  --fw__medium: 400;
  --fw__bold: 700;
}

body {
  background-color: var(--dark__bg);
  color: var(--highlight-light);
  font-family: var(--ff);
  font-weight: 400;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  @media (min-width: 50em) {
    grid-template-columns: 300px 1fr;
    padding: 2rem;
  }
}

/* Nav */
nav {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  @media (min-width: 50em) {
    height: 100%;
    left: 0;
    padding-left: 1rem;
    position: fixed;
    top: 50px;
    width: 300px;
  }
  header {
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    padding-bottom: 1.6rem;
    text-transform: uppercase;
    @media (min-width: 50em) {
      justify-content: flex-start;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    @media (min-width: 50em) {
      max-width: 300px;
    }
    li {
      list-style-type: none;

      a {
        border-bottom: 1px solid var(--dark__bg__highlight);
        color: var(--highlight-light);
        display: flex;
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
        padding: 0.6rem;
        text-decoration: none;
        text-transform: lowercase;
        transition: all 1s;
        @media (min-width: 50em) {
          padding-left: 0;
        }
        &:hover {
          color: var(--dark__bg__highlight);
          padding-left: 2rem;
        }
        &:before {
          background-color: white;
          color: white;
          content: "";
          margin-right: 1rem;
          padding: 0.1rem;
          @media (min-width: 50em) {
            margin-right: 1rem;
          }
        }
        &#re__link {
          &:hover,
          &:before {
            background-color: var(--re__green);
          }
        }
        &#dm__link {
          &:hover,
          &:before {
            background-color: var(--dm__blue);
          }
        }
        &#its__link {
          &:hover,
          &:before {
            background-color: var(--its__pink);
          }
        }
        &#s__link {
          &:hover,
          &:before {
            background-color: var(--s__beige);
          }
        }
        &#txc__link {
          &:hover,
          &:before {
            background-color: var(--tc__yellow);
          }
        }
        &#f__link {
          &:hover,
          &:before {
            background-color: var(--f__pink);
          }
        }
        &#ec__link {
          &:hover,
          &:before {
            background-color: var(--ec__blue);
          }
        }
        &#iam__link {
          &:hover,
          &:before {
            background-color: var(--iam__blue);
          }
        }
        &#tbc__link {
          &:hover,
          &:before {
            background-color: var(--tc__red);
          }
        }
        &#ie__link {
          &:hover,
          &:before {
            background-color: var(--ie__grey);
          }
        }
        &#cs__link {
          &:hover,
          &:before {
            background-color: var(--cs__orange);
          }
        }
        &#oad__link {
          &:hover,
          &:before {
            background-color: var(--oad__blue);
          }
        }
      }
    }
  }
}
/* Main */
section {
  padding-top: 0.5rem;
  padding-bottom: 5rem;
  header {
    margin-bottom: 2.4rem;
    text-transform: lowercase;
  }
  ul {
    display: grid;
    grid-gap: 0.4rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    @media (min-width: 50em) {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 75em) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 100em) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  li {
    background-color: var(--dark__bg__highlight);
    border: 3px solid var(--dark__bg__highlight);
    border-radius: 1rem;
    list-style-type: none;
    min-width: 200px;
    padding: 3rem 1rem;
    text-align: center;
    transition: border-color 1s;
  }
}
.main-section {
  p {
    color: #bdbdbd;
    font-size: 0.72rem;
    font-weight: var(--fw__bold);
    letter-spacing: 0.35rem;
    line-height: 1rem;
    margin-top: -1.6rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
    text-align: right;
  }
  pre {
    background-color: #3a3339;
    border-radius: 1rem;
    font-family: monospace;
    font-size: 0.72rem;
    display: flex;
    padding: 2rem 0.2rem;
    white-space: pre-wrap;
    overflow-x: auto;
    word-wrap: normal;
    @media (min-width: 40em) {
      font-size: 0.84rem;
    }
    code {
      margin-left: -6.5rem;
      padding: 0;
    }
    @media (min-width: 50em) {
      margin-left: 0;
      padding: 2rem;
    }
    .opening-tag {
      &::before {
        content: "<";
      }
      &:after {
        content: ">";
      }
    }
    .closing-tag {
      &::before {
        content: "</";
      }
      &::after {
        content: ">";
      }
    }
    .closing-no-slash-tag {
      &::before {
        content: "";
      }
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem 1rem 1rem;
  @media (min-width: 50em) {
    margin-left: 250px;
    padding: 4rem;
    position: absolute;
    width: calc(100vw - 300px);
  }
  @media (min-width: 75em) {
    margin-left: 300px;
  }
}
#root_element {
  header {
    border-bottom: 2px solid var(--re__green);
  }
  ul li:hover {
    border-color: var(--re__green);
  }
  p {
    color: var(--re__green);
  }
}
#document_metadata {
  header {
    border-bottom: 2px solid var(--dm__blue);
  }
  ul li:hover {
    border-color: var(--dm__blue);
  }
  p {
    color: var(--dm__blue);
  }
}
#inline_text_semantics {
  header {
    border-bottom: 2px solid var(--its__pink);
  }
  ul li:hover {
    border-color: var(--its__pink);
  }
  p {
    color: var(--its__pink);
  }
}
#scripting {
  header {
    border-bottom: 2px solid var(--s__beige);
  }
  ul li:hover {
    border-color: var(--s__beige);
  }
  p {
    color: var(--s__beige);
  }
}
#text_content {
  header {
    border-bottom: 2px solid var(--tc__yellow);
  }
  ul li:hover {
    border-color: var(--tc__yellow);
  }
  p {
    color: var(--tc__yellow);
  }
}
#forms {
  header {
    border-bottom: 2px solid var(--f__pink);
  }
  ul li:hover {
    border-color: var(--f__pink);
  }
  p {
    color: var(--f__pink);
  }
}
#embedded_content {
  header {
    border-bottom: 2px solid var(--ec__blue);
  }
  ul li:hover {
    border-color: var(--ec__blue);
  }
  p {
    color: var(--ec__blue);
  }
}
#image_and_multimedia {
  header {
    border-bottom: 2px solid var(--iam__blue);
  }
  ul li:hover {
    border-color: var(--iam__blue);
  }
  p {
    color: var(--iam__blue);
  }
}
#table_content {
  header {
    border-bottom: 2px solid var(--tc__red);
  }
  ul li:hover {
    border-color: var(--tc__red);
  }
  p {
    color: var(--tc__red);
  }
}
#interactive_elements {
  header {
    border-bottom: 2px solid var(--ie__grey);
  }
  ul li:hover {
    border-color: var(--ie__grey);
  }
  p {
    color: var(--ie__grey);
  }
}
#content_sectioning {
  header {
    border-bottom: 2px solid var(--cs__orange);
  }
  ul li:hover {
    border-color: var(--cs__orange);
  }
  p {
    color: var(--cs__orange);
  }
}
#obsolete_and_deprecated {
  header {
    border-bottom: 2px solid var(--oad__blue);
  }
  ul li:hover {
    border-color: var(--oad__blue);
  }
  p {
    color: var(--oad__blue);
  }
}
